<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ระบบจัดการสินค้าคงเหลือ SOK Production</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

    * {
      font-family: 'Prompt', sans-serif;
    }

    .text-warning {
      color: #fce12d !important;
    }

    .nav-link.text-warning:hover {
      color: #ffc107 !important;
    }

    li a.dropdown-item:hover {
      background-color: #fce12d !important;
    }

    ul.nav li.nav-item a.nav-link {
      color: #fce12d;
    }

    ul.nav li.nav-item a.nav-link:hover {
      color: #ffc107;
    }

    .bg-warning {
      background-color: #fce12d;
    }

    .text-right {
      text-align: right;
    }

  </style>
</head>
<body>
 
  <!-- navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a href="index.html" class="navbar-brand text-warning">SOK Production</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- menu native -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="index.html" class="nav-link text-warning"><i class="fas fa-home"></i> หน้าหลัก</a>
          </li>
          <li class="nav-item dropdown">
            <a href="index.html" class="nav-link dropdown-toggle text-warning" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i> คุณ เจ้าของบริษัท
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="index.html" class="dropdown-item"><i class="far fa-id-card"></i> ข้อมูลส่วนตัว</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="index.html" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- sidebar -->

  <div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="index.html" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<span class="fs-5 d-none d-sm-inline">เมนู</span>
					</a>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
						<!-- nav-item -->
						<li class="nav-item">
							<a href="index.html" class="nav-link align-middle px-0">
								<i class="fas fa-tachometer-alt"></i> <span class="ms-1 d-none d-sm-inline">แผงควบคุม</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="company.html" class="nav-link align-middle px-0">
							  <i class="fas fa-building"></i> <span class="ms-1 d-none d-sm-inline">บริษัทคู่ค้าการผลิต</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="import.html" class="nav-link align-middle px-0">
								<i class="fas fa-shipping-fast"></i> <span class="ms-1 d-none d-sm-inline">รายการนำเข้าสินค้า</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="export.html" class="nav-link align-middle px-0">
								<i class="fas fa-chalkboard-teacher"></i> <span class="ms-1 d-none d-sm-inline">รายการจำหน่ายสินค้า</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="stock.html" class="nav-link align-middle px-0">
								<i class="fas fa-store"></i> <span class="ms-1 d-none d-sm-inline">สินค้าคงเหลือ</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

      <!-- content sidebar  -->
      <div class="col-md-9">
        <h3 class="mt-3"><i class="fas fa-shipping-fast"></i> รายการนำเข้าสินค้า</h3>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="card text-dark bg-warning mb-3">
              <div class="card-header">วันนี้</div>
              <div class="card-body">
                <h5 class="card-title">สินค้านำเข้า</h5>
                <p class="card-text">3 รายการ</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8">
            <h4 class="text-center">รายการนำเข้าสินค้า</h4>
              <form class="row g-3">
                <div class="col-4">
                  <input type="date" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-4">
                  <input type="time" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-4 d-grid gap-2">
                  <button type="submit" class="btn btn-success mb-3"><i class="fas fa-file-export"></i> Export</button>
                </div>
              </form>
            <hr>
            <table class="table table-responsive table-warning">
              <thead>
                <tr class="text-center">
                  <th scope="col">รหัสนำเข้าสินค้า</th>
                  <th scope="col">วันที่ / เวลา</th>
                  <th scope="col">สถานะ</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-center">1</th>
                  <td class="text-center">6/ก.พ/1700</td>
                  <td class="text-center text-success">Active</td>
                  <td class="text-center">
                    <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-info-circle"></i></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-4">
            <h4 class="text-center">เพิ่มรายการนำเข้าสินค้า</h4>
            <hr>
            <form>
              <div class="mb-3">
                <label class="form-label">เลือกสินค้านำเข้า</label>
                <select class="form-select" aria-label="Default select example" required>
                  <option selected>เลือกสินค้านำเข้า</option>
                  <option value="1">พรมปูพื้นรถยนต์</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">ราคาสินค้า</label>
                <input type="number" class="form-control" placeholder="ราคาสินค้า" required>
              </div>
              <div class="mb-3">
                <label class="form-label">จำนวนสินค้า</label>
                <input type="number" class="form-control" placeholder="ราคาสินค้า" required>
              </div>
              <div class="mb-3">
                <label class="form-label">บริษัทที่นำเข้า</label>
                <select class="form-select" aria-label="Default select example" required>
                  <option selected>เลือกบริษัทที่นำเข้า</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">พนักงานรับเข้า</label>
                <input type="text" class="form-control" placeholder="คุณ Employee" disabled required>
              </div>

              <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Active
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Inactive
                    </label>
                  </div>
              </div>

              <div class="d-grid gap-2 mb-2">
                <button class="btn btn-warning">บันทึก</button>
              </div>
              <div class="d-grid gap-2 mb-2">
                <button class="btn btn-outline-warning">ล้างข้อมูล</button>
              </div>
            </form>
          </div>

        </div>

      </div>


    </div>
    
  </div>
  


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>