<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>

  <!-- CSS Include -->

  <link rel="stylesheet" href="../../public//css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public//css/all.min.css">
  <link rel="stylesheet" href="../../public//css/fontawesome.min.css">
  <link rel="stylesheet" href="../../public//css/styles.css">

  <!-- CSS Include -->

</head>

<body>

  <div class="container">
    <div class="d-grid gap-2 col-6 mx-auto mt-5 my-5">
      <h2 class="text-center">ระบบจัดการพรมรถยนต์ ร้าน SOK Production</h2>
      <h3 class="text-center">เข้าสู่ระบบ</h3>
      <hr>

      <!-- form login  -->

      <form action="#" method="POST">

        <!-- username  -->

        <label class="form-label">ชื่อผู้ใช้</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="username"><i class="fa-solid fa-user"></i></span>
          <input type="text" class="form-control" placeholder="กรุณาป้อนชื่อผู้ใช้งาน" aria-label="Username"
            aria-describedby="username">
        </div>

        <!-- username  -->

        <!-- Password -->

        <label class="form-label">รหัสผ่าน</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="password"><i class="fa-solid fa-lock"></i></span>

          <input type="password" class="form-control" placeholder="กรุณาป้อนรหัสผ่าน" aria-label="Password"
            aria-describedby="password">

        </div>

        <!-- Password -->

        <!-- submit  -->

        <div class="form-text text-end">ถ้าคุณลืมรหัสผ่าน <a href="#" class="text-sok">คลิกที่นี่</a></div><br>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-sok btn-lg"><i class="fa-solid fa-right-to-bracket"></i> เข้าสู่ระบบ</button>
        </div>

        <!-- submit  -->
      </form>

      <!-- form login  -->

    </div>
  </div>

  <script src="../../public/js/jquery-3.6.0.min.js"></script>
  <script src="../../public/js/popper.min.js"></script>
  <script src="../../public/js/bootstrap.min.js"></script>
</body>

</html>